
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
        </tr>
    </thead>
</table>