@model Category
@{
	Layout = null;
}
<form method="post" asp-action="Create">
	<div class="border p-3 mt-4">
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="IsActive"></label>
			<div>
				<input type="checkbox" asp-for="IsActive" />
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
