<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a onclick="showInPopup('@Url.Action("Create","Category",null,Context.Request.Scheme)','Create New Category')" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
    <br /><br />

</div>
<div id="tablepartial">
    @await Html.PartialAsync("_tablePartialView")
</div>

@section Scripts{
    <script src="~/js/category.js"></script>
}
